.root {
     -fx-background-image: url("background.jpg");
}

.label {
    -fx-font-size: 12px;
   -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #006652;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#title-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: #00e68a;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#00ff99, #00b36b);
}

.text-field {
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #006652;
}